div#guest-user-dropdown-bar {
    width: 150px;
    border: 1px solid black;
    position: absolute;
    right: 0px;
    top: -3;
    background-color: white;
    margin: 0px;
    display: none;

}

span#guest-user-user {


}

span#guest-user-login {

}

div#guest-user-bar {
    margin: 3px 15px 3px 3px;

    float:right;
    position: relative;
}

div#guest-user-bar > p {
    margin-bottom: 0px;
}

div.guest-user-widget {
    border: 1px solid black;
    margin: 3px 12px 3px 24px;
    padding: 9px;
    width: 210px;
    height: 200px;
    overflow: auto;
    float: left;
}

div.guest-user-widget-odd {
    clear:right;
}

div.guest-user-widget-even {

}