.guest-user .field label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .25rem .5rem;
    margin-bottom: 0;
    width: 100%;
}

.guest-user .required-label {
    background-color: #E7E7E7;
    border-radius: 2px;
    padding: 0 .25rem;
    display: block;
    width: max-content;
    font-weight: normal;
}

.guest-user .field {
    display: flex;
    gap: 0 1rem;
    flex-wrap: wrap;
    align-items: flex-start;
}

.guest-user .field .two.columns {
    width: 20%;
    margin-right: 0;
    padding-right: 0;
}

.guest-user .field .five.columns {
    width: 50%;
    margin-left: 0;
    padding-left: 0;
}

.guest-user .field .inputs {
    line-height: 1.5;
}

.guest-user .field .explanation {
    margin-bottom: .5rem;
}

/* copied from admin theme. alerts */

#content #flash ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
}

    ul.error {
        list-style-type: none;
        margin-top: 20px;
        padding: 0;
    }
    
    #content #flash li, ul.error li {
        border: 1px solid #E7E7E7;
        border-radius: 3px;
        font-size: 14px;
        margin-bottom: 20px;
        padding: .5em;            
    }

.success {
    color: #729108;
}
    
.error, .alert {
    color: #914E33;
}

#admin-bar li {
    position: relative;
}

a#menu-admin-bar-welcome + ul {
    position: absolute;
    background: #404040;
    z-index: 10000;
    padding-left: 3px;
    left: -9999px;
    width: 100%;
}

a#menu-admin-bar-welcome + ul:hover ,
a#menu-admin-bar-welcome:hover + ul {
    left: -6px;
    top: 100%;
    padding: 12px 6px;
}

a#menu-admin-bar-welcome + ul li {
    display: block;
    text-align: left;
    padding: 3px;
    float: none;
}

h2.guest-user-widget-label {
    border-bottom: 1px solid rgba(0,0,0,.3);
    margin: -1rem -1rem 1rem;
    padding: .5rem;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 1.5;
}

#guest-user-register-info {
    float: left;
    margin: 0 .5rem;
    line-height: 1.5;
}

.guest-user-widgets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.guest-user-widget ul,
.guest-user-widget p,
.guest-user-widget > * {
    margin: 1rem 0;
}

@media screen and (max-width: 767px) {
    .guest-user-widgets {
        grid-template-columns: repeat(2, 1fr);
    }
}

div.guest-user-widget {
    border: 1px solid rgba(0,0,0,.3);
    background-color: white;
    padding: 1rem;
}

div.guest-user-widget ul {
    padding: 0 0 0 .75rem;
}

p.explanation {
    margin-top: 0px;
}

@media screen and (max-width: 767px) {
    .guest-user .two.columns.alpha,
    .guest-user .five.columns.omega {
        width: 100%;
    }
}