/* copied from admin theme. alerts */

        #content #flash ul {
            list-style-type: none;
            margin-top: 0;
            padding: 0;
        }
        
            ul.error {
                list-style-type: none;
                margin-top: 20px;
                padding: 0;
            }
            
            #content #flash li, ul.error li {
                background-color: rgba(255, 255, 255, .5);
                border: 1px solid #E7E7E7;
                border-radius: 3px;
                font-size: 14px;
                margin-bottom: 20px;
                padding: .5em;            
            }
        
        .success {
            color: #729108;
        }
            
        .error, .alert {
            color: #914E33;
        }



a#menu-admin-bar-welcome + ul {
    display: none;
    position: absolute;
    background: #404040;
    
}

a#menu-admin-bar-welcome + ul li {
    display: block;
    text-align: left;
    padding: 3px;
}

h2.guest-user-widget-label {
    border-bottom: 1px solid;
}

div#guest-user-register-info {
    background: rgba(0,0,0,0.75);    
    color: #fff;
    position:absolute;
    right: 0;
    top: 40px;
    font-family:Arvo, serif !important;
    font-size: 12px;
    width: 250px;
    display: none;
    padding: 3px;
}

div.guest-user-widget {
    border: 1px solid black;
    margin: 3px 12px 3px 24px;
    padding: 9px;
    width: 210px;
    height: 200px;
    overflow: auto;
    float: left;
    background-color: white;
}

div.guest-user-widget-odd {
    clear:right;
}

div.guest-user-widget-even {

}